/* Add CSS Styling */
.paragraph {
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#number-two {
    color: #0000ff;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#number-4 {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}